page-home {

	.list-notif-page {
	  ion-note {
	    font-size: 14px;
	    align-self: flex-start;
	    margin-top: 14px;
	    color: #e6330b;
	  }

		.item-wrapper {

			.item-md {
				
		    font-weight: bold;

		    h2 {
		    	color: #ea4445;
		    	font-weight: bold;
		    }

		    h3 {
		    	color: #ea4445;
		    }

		    .note-md {
		    	color: #f8b03c;
		    }
			}
		}
	}

	.list-expert-page {
		.custom-header {
			background-color: #afd7e0;
	    color: black;
	    text-transform: uppercase;
	    font-weight: bold;
		}

		.item-wrapper {

			.item-md {
				color: #ea4445;
		    font-weight: bold;

		    h2 {
		    	font-weight: bold;
		    }

		    .item-note {
		    	color: #f8b03c;
		    }
			}
		}
	}

	.green-btn {
		background-color: #34d293;
	}


}
