page-skill-experts {

	.item-wrapper {

		.item-md {
			color: #ea4445;
	    font-weight: bold;

	    h2 {
	    	font-weight: bold;
	    }

	    .item-note {
	    	color: #f8b03c;
	    }
		}
	}

	ion-item-sliding {
		border-left: 5px solid #34d293;
    margin-bottom: 2px;
	}
	.arrow-icon {
		color: #d4d4d4;
	}

	.green-btn {
		background-color: #34d293;
	}

	.list-header-md {
		margin-bottom: 0;
	}
}
